# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
.ipython/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Others
*.pdf
.DS_Store
.cache/
*.png
*.jpg
*.jpeg

01_training/01_data_prep/extracted_texts/*
01_training/01_data_prep/extract_data/*
01_training/01_data_prep/row_data/*
01_training/01_data_prep/extracted_texts_python/*
01_training/01_data_prep/extract_tests_qwen3_5/*
01_training/01_data_prep/cpt_natural_texts/*

01_training/02_SFT/_unsloth_temporary_saved_buffers
01_training/02_SFT/unsloth_compiled_cache
01_training/02_SFT/outputs*
01_training/02_SFT/gpt_oss*
01_training/02_SFT/kakidash_ultimate_expert
01_training/02_SFT/llama3*
container_unsloth/_unsloth_temporary_saved_buffers
container_unsloth/unsloth_compiled_cache

