# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
.ipython/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Others
*.pdf
.DS_Store
.cache/
*.png
*.jpg
*.jpeg

01_training/01_data_prep/extracted_texts/*
01_training/01_data_prep/extract_data/*
01_training/01_data_prep/row_data/*